<!--
  This template loads for the 'tab.about' state (app.js)
-->

  <ion-content has-header="true" has-tabs="true" padding="true">
    <img src="img/the-life-of-text-logo.png" class="ionic-logo">
      <h3>The Awesome team that created this app</h3>
    <span>
        Team Lead: James Brinkerhoff
    </span>
      <br>
    <span>
        Developer: Adam Harris
    </span>
      <br>
      <span>
        Developer: Joe Ipson
    </span>
      <br>
      <span>
          Designer: Roy Hammel
      </span>
      <br>

    <h4>
      MIT Licensed for the framework, and stories are copyrighted.
    </h4>
  </ion-content>

