
<div class="center top-bar">
    <img class="ionic-logo" src="img/the-life-of-text-logo.png" />
    <h2> > go anywhere| </h2>
</div>

<!--<div class="home-game-container">-->

    <!--<a class="button button-energized" href="#/tab/term">-->
        <!--The Silenti-->
    <!--</a>-->
<!--</div>-->



<div class="list">

    <a class="item item-thumbnail-left" href="#/tab/term">
        <img src="img/silenti-logo-pic.jpg">
        <h2>The Silenti</h2>
        <p>You find yourself in a dark, smoggy town called Silenti. You are here to find your friend who invited you a few weeks ago to come visit. He hasn't picked up his phone in the past few hours.</p>
    </a>



</div>