
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Game" icon="icon ion-chevron-right" href="#/tab/term">
    <ion-nav-view name="term-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="About" icon="icon ion-help" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
